*,:after,:before {
  box-sizing:border-box;
}
.clearfix:after,.clearfix:before {
  display:table;
  content:" ";
}
.clearfix:after {
  clear:both;
}
body {
  background-color: #f2f2f2;
}
h2 {
  text-indent: 2em;
}
.chartsContainer .chart{
  display: block;
  height: 180px;
  line-height: 180px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  border: 1px solid #d0d0d0;
  margin: 0 15px 15px;
  border-radius: 3px;
  background-color: #fff;
}
.chartSection {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}